apiVersion: gateway.k8s.aws/v1beta1
kind: TargetGroupConfiguration
metadata:
  name: targetgroup-todo-app
  namespace: {{ .Values.global.namespace }}
spec:
  # کدام کِیوبِرنِتِیس آبجکت (معمولاً Service) را هدف قرار بده
  targetReference:
    kind: Service
    name: todo-app

  defaultConfiguration:
    targetType: ip           
    protocol: HTTP
    ipAddressType: ipv4
    healthCheckConfig:
      healthCheckPath: /healthz
      healthCheckProtocol: HTTP
      healthCheckInterval: 30
      healthCheckTimeout: 5
      healthyThresholdCount: 2
      unhealthyThresholdCount: 2

  routeConfigurations:
    - routeIdentifier:
        kind: HTTPRoute
        name: todo-app-route
        namespace: {{ .Values.global.namespace }}
      targetGroupProps:
        targetType: ip
        ipAddressType: ipv4