global:
  namespace: microservices

mongodb:
  image: mongo:7.0
  replicaCount: 1
  port: 27017
  
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"
  
  persistence:
    enabled: false
    size: 20Gi
  
  podAnnotations: {}
  affinity: {}
  tolerations: []
